In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.ticker as PercentFormatter
import numpy as np

In [7]:
df = pd.read_excel("Concept_Data Resep.xlsx")
df

,id,nama_resep,bahan_resep,bahan_alergen,daerah_resep,umur_resep
0,1,Bubur Hati Ayam,"nasi, hati ayam, bayam, minyak jagung, garam, ...",NaN,Indonesia,6-8 Bulan
1,2,Bubur Hati Ayam Santan,"nasi, hati ayam, wortel, santan, minyak kelapa...",NaN,Indonesia,6-8 Bulan
2,3,Bubur Pepes Hati Ayam,"nasi, hati ayam, wortel, minyak kelapa, tomat,...",NaN,Indonesia,6-8 Bulan
3,4,Bubur Udang Tahu,"nasi, udang giling, santan, tahu, tomat, keman...","udang, tahu",Indonesia,6-8 Bulan
4,5,Bubur Udang Buncis,"nasi, udang giling, buncis, minyak jagung, jer...",udang,Indonesia,6-8 Bulan
...,...,...,...,...,...,...
198,199,Mentai Udang Wortel,"nasi, mentega, bawang putih, bawang bombay, wo...","mentega,udang,telur,keju,mayonnaise",Indonesia,9-11 Bulan
199,200,Bola Nasi Ikan Salmon Mayo,"ikan salmon, nasi, mayonnaise, keju parut, air...","ikan, mayonnaise, keju",Indonesia,9-11 Bulan
200,201,Roti Salmon Mayo,"salmon, roti tawar, mayonnaise, saos tomat, pa...","ikan, roti, mayonnaise, keju",NaN,6-8 Bulan
201,202,Ikan Dori Saus Mayo,"ikan dori, brokoli, tomat merah, mayonnaise, l...","ikan, mayonnaise",Indonesia,6-8 Bulan
202,203,Beef Stroganoff,"daging wagyu, mentega truffle garlic, bawang b...","mayonnaise, krim",Indonesia,6-8 Bulan

In [8]:
data = df
label_alergies = pd.read_excel('Alergen.xlsx')
label_alergies

       nama_alergen
0         susu sapi
1            yogurt
2              krim
3           mentega
4              whey
5            kasein
6              keju
7             telur
8        mayonnaise
9          meringue
10             ikan
11      minyak ikan
12     gelatin ikan
13           gluten
14             roti
15            pasta
16           tepung
17              mie
18            udang
19              ebi
20            petis
21           terasi
22    kerupuk udang
23             koya
24           kerang
25       saus tiram
26           kacang
27     minyak wijen
28   minyak kedelai
29          mustard
30             tahu
31             tofu
32            tempe
33  kerupuk kedelai
34     bumbu kacang
35           kecap

In [ ]:
#Model 1
#pakai conditional if-else untuk string dan tfidf

In [9]:
#hapus blankspace dan non word
data['bahan_resep'] = data['bahan_resep'].replace(to_replace=r'[^\w\s]', value='', regex=True)
data

,id,nama_resep,bahan_resep,bahan_alergen,daerah_resep,umur_resep
0,1,Bubur Hati Ayam,nasi hati ayam bayam minyak jagung garam bawan...,NaN,Indonesia,6-8 Bulan
1,2,Bubur Hati Ayam Santan,nasi hati ayam wortel santan minyak kelapa saw...,NaN,Indonesia,6-8 Bulan
2,3,Bubur Pepes Hati Ayam,nasi hati ayam wortel minyak kelapa tomat daun...,NaN,Indonesia,6-8 Bulan
3,4,Bubur Udang Tahu,nasi udang giling santan tahu tomat kemangi da...,"udang, tahu",Indonesia,6-8 Bulan
4,5,Bubur Udang Buncis,nasi udang giling buncis minyak jagung jeruk n...,udang,Indonesia,6-8 Bulan
...,...,...,...,...,...,...
198,199,Mentai Udang Wortel,nasi mentega bawang putih bawang bombay wortel...,"mentega,udang,telur,keju,mayonnaise",Indonesia,9-11 Bulan
199,200,Bola Nasi Ikan Salmon Mayo,ikan salmon nasi mayonnaise keju parut air mar...,"ikan, mayonnaise, keju",Indonesia,9-11 Bulan
200,201,Roti Salmon Mayo,salmon roti tawar mayonnaise saos tomat parsle...,"ikan, roti, mayonnaise, keju",NaN,6-8 Bulan
201,202,Ikan Dori Saus Mayo,ikan dori brokoli tomat merah mayonnaise lada ...,"ikan, mayonnaise",Indonesia,6-8 Bulan
202,203,Beef Stroganoff,daging wagyu mentega truffle garlic bawang bom...,"mayonnaise, krim",Indonesia,6-8 Bulan

In [4]:
#from sklearn.feature_extraction.text import TfidfVectorizer

#3allergen_vector = []
#for index, row in data.iterrows():
#    allergens_present = 0
#    for allergen in label_alergies['nama_alergen']:
#        if allergen in row['bahan_resep']:
#            allergens_present = 1
#            break
#        allergen_vector.append(allergens_present)

In [10]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(data['bahan_resep'])

In [16]:
tfidf_words = tfidf.get_feature_names_out()
tfidf_words[100:900]

array(['jintan', 'kacang', 'kakap', 'kaki', 'kaldu', 'kalduminyak',
       'kampung', 'kancing', 'kancingjamur', 'kangkung', 'kanola',
       'kapulaga', 'katuk', 'kayu', 'kayumanis', 'kecap', 'kecil',
       'kedelai', 'kedelaiasi', 'kedelaiminyak', 'keju', 'kelapa',
       'kelapazairun', 'kemangi', 'kembang', 'kembung', 'kemiri',
       'kental', 'kentang', 'kepok', 'keruk', 'kerupuk', 'ketumbar',
       'kol', 'kue', 'kulit', 'kuning', 'kunyit', 'kuping', 'kurma',
       'labu', 'lada', 'lele', 'lemon', 'lengkuas', 'madu', 'maizena',
       'makaroni', 'makaroninasi', 'mangga', 'manis', 'margarin',
       'margarinmentega', 'matang', 'mayonnaise', 'melon', 'mentega',
       'mentegamargarin', 'mentimun', 'merah', 'merang', 'merica',
       'meruca', 'mie', 'minyak', 'muda', 'mujair', 'naga', 'nanas',
       'nasi', 'nila', 'nipis', 'oat', 'oatmeal', 'oil', 'olive',
       'oranye', 'oregano', 'paha', 'pala', 'pandan', 'pangsit', 'panir',
       'panjang', 'paprika', 'parsley', 'parut', 'pasir', 'pasta',
       'patin', 'pekak', 'pepaya', 'peras', 'perasan', 'pipil', 'pir',
       'pisang', 'plum', 'polong', 'powder', 'pure', 'putih', 'puyuh',
       'rebus', 'rebusan', 'roti', 'sagu', 'salam', 'salmon', 'santan',
       'santansusu', 'saos', 'sapi', 'sapidada', 'sapo', 'sarden', 'sari',
       'saus', 'sawi', 'sawit', 'sayur', 'segar', 'seledri',
       'seledridaun', 'semangka', 'sendok', 'serai', 'serbaguna',
       'sereal', 'sereh', 'serut', 'siam', 'singkong', 'soda', 'squash',
       'stroberi', 'sup', 'susu', 'susuair', 'sutra', 'tahu', 'tahutofu',
       'tanah', 'tapioka', 'tawar', 'telur', 'tempe', 'tenggiri',
       'tenggoro', 'tepung', 'terigu', 'tiram', 'tofu', 'tomat',
       'tongkol', 'truffle', 'tulang', 'tuna', 'tunggak', 'ubi', 'udang',
       'uht', 'vanila', 'vanili', 'virgin', 'wagyu', 'wholemeal', 'wijen',
       'wortel', 'worteltelur', 'yogurt', 'zaitun', 'zaitunmentega'],
      dtype=object)

In [14]:
print(tfidf_matrix.toarray())

[[0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.16870094 ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 ...
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]]

In [82]:
user_input = "pasta"

In [83]:
def related_allergen(keyword):
    related_words = set()
    if keyword == 'pasta':
        related_word.update(['makaroni'])
    return related_words

In [87]:
#using cosine similarity

from sklearn.metrics.pairwise import cosine_similarity
from scipy.sparse import csr_matrix
from scipy.spatial.distance import hamming

# Function to calculate cosine similarity between a user input vector and recipe vectors
def calculate_similarity(user_input_vector, recipe_matrix):
    return cosine_similarity(user_input_vector, recipe_matrix)

def find_recipes(user_input):    
    # Generate the user input vector using the TFIDF model
    user_input_vector = tfidf.transform([user_input])

    # Calculate similarity between user input vector and recipe vectors
    similarities = calculate_similarity(user_input_vector, tfidf_matrix)

    #Evaluate the similarity
#    distance = [hamming(user_input_vector.toarray()[0],recipe_vector.toarray()[0]) for recipe_vector in tfidf_matrix]
    return similarities

similarities=find_recipes(user_input)

NameError: name 'related_word' is not defined

In [88]:
top_n = 10
top_indices = np.argsort(similarities[0])[:top_n]
top_recipes = [data['nama_resep'][i] for i in top_indices]

print(f"Top {top_n} Recipe Recommendations:")
for i, recipe in enumerate(top_recipes, 1):
    print(f"{i}. {recipe}")

Top 10 Recipe Recommendations:
1. Bubur Hati Ayam
2. Bubur Saring Makaroni
3. Bubur Saring Kentang Sayuran
4. Bubur Saring Salmon
5. Bubur Oat Rasa Cokelat
6. Bubur Hijau
7. Bubur Havermut
8. Bubur Saring Manado
9. Tim Merah Halus Ati Ayam
10. Bubur Saring Kentang Salmon

AttributeError: 'str' object has no attribute 'toarray'